.TitleScreen {
  display: flex;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000000;
  font-family: "Metropolis";
  text-align: center;
}

body {
  margin: 0;
}

.TitleScreen > :first-child {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 40px;
  color: #f4e1a3;
  line-height: 1.2;
}
