.DiscardPile-container {
    position: relative;
    display: inline-block;
  }
  
  .DiscardPile-image {
    width: 120px;
    height: auto;
    display: block;
    z-index: 5;
  }
  
  .DiscardPile-topcard {
    position: absolute;
    position: absolute;
    top: 5%;          
    left: 50%;
    transform: translateX(-50%);
    width: 65%;       
    height: auto;
    border-radius: 6px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.5);
    z-index: 2;
  }